
# Slot: TEST_RESULT

Test result (caDSR:2192215) (Aligns to CDRC Standard CDE)

URI: [htan:molecularTest__TEST_RESULT](https://w3id.org/htan/molecularTest__TEST_RESULT)


## Domain and Range

None &#8594;  <sub>1..1</sub> [String](types/String.md)

## Parents


## Children


## Used by

 * [MolecularTest](MolecularTest.md)

## Other properties

|  |  |  |
| --- | --- | --- |
| **Mappings:** | | caDSR:2192215 |